@import "material-icons/iconfont/material-icons.scss";

$main-color: lighten(
  $color: #b79884,
  $amount: 25,
);
$contrast-color: lighten(
  $color: #b79884,
  $amount: 10,
);

html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.start-page {
  background: url("/img/bg.jpg") no-repeat;
  background-clip: border-box;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: $main-color;
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
    margin: 0;
  }
  a {
    font-size: 2.5rem;
    color: #29404e;
    margin-top: 10px;
    background-color: $main-color;
    border-radius: 2px;
    text-align: center;
    padding: 2px 8px;
    &:link {
      text-decoration: none;
    }
  }
}

.game-page {
  height: 100%;
  background-color: $main-color;
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__drop-downs {
      height: 60px;
      display: flex;
      align-items: center;
      .dropdown {
        label {
          font-size: 2rem;
          margin-right: 10px;
          cursor: pointer;
        }
        select {
          width: 50px;
          margin-right: 10px;
          padding: 2px;
          outline: none;
          font-size: 1.8rem;
          border-radius: 2px;
          background-color: transparent;
          cursor: pointer;
          background-color: lighten($color: $main-color, $amount: 10);
        }
        option {
          &.passed {
            background-color: $contrast-color;
          }
        }
      }
    }
    &__checkboxes {
      width: 180px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      input[type="checkbox"] {
        display: none;
        &:hover {
          background-color: lighten($color: $contrast-color, $amount: 10);
        }
        &:not(:checked) {
          background-color: lighten($color: $contrast-color, $amount: 10);
        }
      }
      label {
        font-size: 3rem;
        border: 1px solid black;
        border-radius: 2px;
        user-select: none;
        cursor: pointer;
        &:hover {
          background-color: darken($color: $main-color, $amount: 10);
        }
      }
      input[type="checkbox"]:checked + label {
        background-color: $contrast-color;
        &:hover {
          background-color: lighten($color: $contrast-color, $amount: 10);
        }
      }
    }
  }
  .game {
    &__translation {
      text-align: center;
      height: 60px;
      .sound-wrapper {
        height: 30px;
        .sound {
          font-size: 3rem;
          cursor: pointer;
          &.hidden {
            display: none;
          }
          &.active {
            color: $contrast-color;
          }
        }
      }
      .translation {
        font-size: 2rem;
        &.hidden {
          display: none;
        }
      }
    }
    &__box {
      width: 1000px;
      height: 350px;
      background-color: $contrast-color;
      &-line {
        display: flex;
        height: 35px;
      }
      &-word {
        border: 1px solid black;
        padding-top: 6px;
        text-align: center;
        font-size: 1.4rem;
        cursor: pointer;
        user-select: none;
        &.coloredRed {
          color: red;
        }
        &.coloredGreen {
          color: green;
        }
      }
    }
    &__guess-area {
      display: flex;
      margin-top: 20px;
      height: 35px;
      background-color: lighten($color: $main-color, $amount: 10);
      .guessed-word {
        padding-top: 6px;
        border: 1px solid black;
        font-size: 1.4rem;
        text-align: center;
        cursor: pointer;
        user-select: none;
      }
    }
    &__buttons {
      display: flex;
      margin-top: 15px;
      justify-content: center;
      button {
        width: 150px;
        height: 40px;
        border-radius: 1.8px;
        margin: 0 10px;
        outline: none;
        font-size: 2rem;
        border: 1px solid black;
        background-color: $contrast-color;
        cursor: pointer;
        &:hover {
          background-color: lighten($color: $contrast-color, $amount: 10);
        }
      }
    }
  }
}
