$base-color: rgb(234, 227, 198);
$contrast-color: rgb(144, 169, 119);

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: darken($color: $contrast-color, $amount: 10);
  background-color: $base-color;
}

#root {
  height: 100vh;
}

main {
  height: 100vh;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: $contrast-color;
  border: 3px double darken($color: $contrast-color, $amount: 10);
  color: $base-color;
  border-radius: 15px;
  &:hover {
    background-color: darken($color: $contrast-color, $amount: 5);
  }
}

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url("img/bg.jpg") no-repeat center;
  h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 0;
    margin-top: 10px;
    letter-spacing: 1px;
  }
  p {
    font-size: 1.4rem;
    text-align: center;
  }
  &__button {
    width: 250px;
    height: 60px;
    margin-top: 20px;
    font-size: 3rem;
  }
}
.game-page {
  display: flex;
  flex-direction: column;
  width: 1020px;
  height: 100%;
  margin: 0 auto;
  .points {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 15px 15px;
    margin: 20px auto;
    .point {
      position: relative;
      width: 8px;
      height: 8px;
      padding: 8px;
      margin-top: -8px;
      border-radius: 50%;
      background-color: $contrast-color;
      background: radial-gradient($contrast-color 0%, $contrast-color 50%, $base-color 50%, $base-color 100%);
      margin-right: 10px;
      box-shadow: 0 0 0 2px $base-color;
      cursor: pointer;
      transition: 0.5s;
      &:before {
        content: "";
        width: 30px;
        height: 2px;
        position: absolute;
        top: 11px;
        right: 15px;
        background-color: $contrast-color;
      }
      &:first-child::before {
        content: none;
      }
      &.currentPoint,
      .currentPoint:hover {
        box-shadow: 0 0 0 2px $contrast-color, inset 0 0 0 3px $base-color, inset 0 0 0 3px $contrast-color;
      }
    }
  }
  .image {
    margin: 10px auto;
    img {
      display: inline-block;
      width: 400px;
      height: 270px;
    }
  }
  .translation {
    font-size: 1.6rem;
    text-align: center;
    margin: 10px;
    font-weight: 700;
  }
  .recognition {
    display: flex;
    justify-content: center;
    .microfon {
      display: inline-block;
      margin-top: 3px;
      width: 35px;
      height: 40px;
      filter: invert(58%) sepia(9%) saturate(1432%) hue-rotate(47deg) brightness(90%) contrast(95%);
    }
    .text {
      width: 360px;
      font-size: 1.6rem;
      text-align: center;
      margin: 10px;
      font-weight: 700;
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card {
      display: flex;
      width: 180px;
      border: 2px double $contrast-color;
      border-radius: 15px;
      padding: 8px;
      font-size: 1.2rem;
      margin: 10px 0;
      cursor: pointer;
      &__sound {
        display: inline-block;
        transform: translateY(25%);
        width: 35px;
        height: 35px;
        filter: invert(58%) sepia(9%) saturate(1432%) hue-rotate(47deg) brightness(90%) contrast(95%);
      }
      .card__description {
        width: 165px;
        padding: 0;
        p {
          width: 100%;
          margin: 0;
          text-align: center;
          &.card__description-word {
            font-weight: 700;
            letter-spacing: 0.5px;
          }
        }
      }
      &.selected {
        background-color: darken($color: $base-color, $amount: 5);
      }
      &.guessed {
        background-color: lighten($color: $base-color, $amount: 10);
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    button {
      width: 200px;
      height: 50px;
      font-size: 1.6rem;
    }
  }
  .lds-ring {
    display: inline-block;
    margin: 30px auto;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid $contrast-color;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $contrast-color transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.pop-up-layer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  .pop-up {
    .results {
      max-width: 600px;
      min-width: 400px;
      background-color: $base-color;
      border-radius: 3px;
      border: 3px double darken($color: $contrast-color, $amount: 10);
      padding: 10px;
      overflow-y: auto;
      overflow-x: hidden;
      .results-title {
        font-size: 1.6rem;
        text-decoration: underline;
      }
      .results-list {
        display: flex;
        flex-direction: column;
        .result-row {
          display: flex;
          justify-content: flex-start;
          margin: 4px;
          padding: 2px;
          border: 1px solid darken($color: $contrast-color, $amount: 10);
          cursor: pointer;
          .words {
            width: 100%;
            display: flex;
            justify-content: space-between;
            div {
              width: 33%;
              font-size: 1.2rem;
              font-weight: 400;
            }
          }
          .sound {
            display: inline-block;
            padding-right: 4px;
            width: 25px;
            height: 25px;
            filter: invert(58%) sepia(9%) saturate(1432%) hue-rotate(47deg) brightness(90%) contrast(95%);
          }
        }
      }
      .results-actions {
        display: flex;
        justify-content: space-between;
        .button {
          margin: 10px;
          width: 150px;
          height: 40px;
        }
      }
    }
  }
}
